[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm {{ webstorm_version }}
Icon={{ webstorm_location}}/bin/webstorm.svg
Exec="{{ webstorm_location }}/bin/webstorm.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
